.container
  .jumbotron
    h1 Bayleef
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed velit a erat dignissim mattis. Donec quis dictum massa. Suspendisse sit amet tellus in mauris viverra pretium. Donec et tellus vel lectus adipiscing tristique. Etiam laoreet nulla nulla, at iaculis ligula dignissim et. Morbi tristique sit amet sapien in imperdiet. Vestibulum nec lectus nec mauris sollicitudin lobortis non eu eros. Praesent facilisis non lorem in viverra.
  
    .row
      .col-md-6
        div(ng-include="'/partials/featured-courses'")
      .col-md-6
        div(ng-include="'/partials/new-courses'")