body
  padding-top 64px

.navbar-header a.navbar-brand
    margin-top -16px
    margin-bottom -21px
    margin-left 64px
    h6
      color #afb43e

footer
  padding-left 16px
  padding-right 17px
  p
    border-top 2px solid #73ef5b

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

